*{
    margin: 0;
    padding: 0;
    font-family: "Radio Canada Big", sans-serif;
}



header{
    width: 100vw;
    height: 15vh;
    display: flex;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
}

.logo{
    width: 30%;
    height: 100%;
}
.logo_tenampa{
    width: 30rem;
    height: 20rem;
    z-index: 1;
    position: absolute;
    top: 2rem;

}

.logo img{
    width: 100%;
    height: 100%;
}

.enlaces{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.enlaces ul{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 6rem;
    font-size: 1.4rem;
    font-weight: 500;
}
.enlaces ul a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.acceso{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.registrate{
    font-size: 1.2rem;
    border-radius: 0.5rem;
    padding: 0.2rem;
    cursor: pointer;
}

.contenedor_acceso{
    border: 0.1rem solid black;
}

.acceder{
    width: 8rem;
    height: 2.5rem;
    font-size: 1.2rem;
    cursor: pointer;
}

/* ---------sección principal main-------------- */



.principal{
    width: 100%;
    height: 60rem;
    background-image: url(img/seccion_principal.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

.principal h1{
    font-size: 4rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.principal h3{
    font-size: 2rem;
    font-weight: 800;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* ---------------sección secundaria Main--------------- */

.secundaria{
    width: 100%;
    height: 40rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-bottom: 2rem;
    
}

.titulo_seccion_secundaria{
    font-size: 1.5rem;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
}

.card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(170, 160, 160);
}

#cambio_imagen{
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
    cursor: pointer;
}

.card1 h4{
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}


.card1 img{
    width: 90%;
    height: 50%;
}

.card1 p{
    padding: 1rem;
}
.card2 img{
    width: 90%;
    height: 50%;
}
.card2 p{
    padding: 1rem;
}
.card2 h4{
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card2 button{
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
}
.card3 img{
    width: 90%;
    height: 50%;
}
.card3 p{
    padding: 1rem;
}
.card3 h4{
    font-size: 1.2rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.card3 button{
    width: 10rem;
    height: 2rem;
    font-size: 1.2rem;
}
.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(170, 160, 160);
}
.card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 5px 5px rgb(170, 160, 160);
}

.fa-user{
    font-size: 1.5rem;
    border-right: 0.1rem solid black;
    padding-right: 3rem;
}


.mapas{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
}




/* --------------Formulario de contacto------------ */

.body_contacto{
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
}

.main_contacto{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 4rem;
    padding-bottom: 4rem;

}

.contenedor_formulario{
    width: 100%;
    max-width: 35rem;
    height: 45rem;
    background: linear-gradient(0deg, rgba(247,235,235,1) 0%, rgba(237,98,98,1) 61%, rgba(245,231,229,1) 88%, rgba(233,243,245,1) 100%);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    
}

.politicas{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    gap: 1rem;
}

#boton_politicas{
    margin: 0 auto;
}

.informacion_formulario p{
    text-align: justify;
}

.informacion_formulario{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
}

.informacion_formulario i{
    padding-right: 1rem;
}

.informacion_formulario h2{
    text-align: center;
    padding-bottom: 4rem;
    font-size: 2rem;
    font-weight: 900;
}

.caja2{
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 1rem;
}

.caja2 textarea{
    width: 60%;
    height: 10rem;
}

.caja2 input{
    font-size: 1.2rem;
    padding: 0.2rem;
    border-radius: 0.5rem;
}

.ubicacion{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding-top: 6rem;
}

iframe{
    width: 100%;
}

/* -------------------footer---------------- */

footer{
    width: 100%;
    height: 10rem;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
    margin-top: 3rem;
}


.redes h3{
    text-align: center;
}

.logos{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    gap: 8rem;
    font-size: 2rem;
}

/* ---------Registro---------- */

.main_registro{
    display: flex;
    padding-top: 20rem;
    flex-direction: column;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
}

.main_registro h1{
    text-align: center;
    padding-bottom: 2rem;
}

.contenedor_registro{
    width: 100%;
    max-width: 30rem;
    height: 20rem;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem;
    border: 0.1rem solid black;
    border-radius: 1rem;
    
}

form{
    width: auto;
}


.contenedor_registro form{
    display: flex;
    flex-direction: column;
}

.contenedor_registro input{
    margin-top: 1rem;

}
#e-mail{
    width: 80%;
    height: 2rem;
}
#contra{
    width: 80%;
    height: 2rem;
}

#enviar{
    width: 80%;
    height: 2rem;
}



.contenedor_registro h2{
    margin-top: 5rem;
}

/* ------------Reloj digital------------- */

#contenedor_reloj{
    width: 20rem;
    height: 10rem;
    color: black;
    opacity: 0.7;
    border:0.2rem gray solid;
    border-bottom: none;
    border-left: none;
    border-right: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
}

/* ------------mediaqueries---------- */

@media screen and (max-width:1200px) {
    header{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;

    }

    header .enlaces ul{
        width: 100%;
        gap: 2rem;
    }

    .logo{
        display: flex;
    }

    .logo_tenampa{
        display: none;
    }
    .enlaces{
        width: 100%;
        height: 10%;

    }
    .enlaces ul{
        width: 100%;
        height: 10%;
        display: flex;
        
    }
    .acceso{
        display: none;
    }
    
    .secundaria{
        width: 80%;
        height: auto;
        background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        gap: 1rem;
    }
    .ubicacion iframe{
        display: none;
    }

    .principal h3{
        display: none;
    }


}

.info_tenampa{
    width: 100%;
    height: 30rem;
    background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(247,235,140,1) 61%, rgba(240,238,217,1) 88%, rgba(233,243,245,1) 100%);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor_info{
    width: 50%;
    text-align: justify;
    padding-top: 8rem;
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 1.2rem;
}

.contenedor_info h3{
    text-align: center;
    padding-bottom: 2rem;
    font-size: 2rem;
}

.detalles_footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
}
.info_tenampa{
    height: auto;
}

